# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

#WebStorm Files
.idea

#Node Modules in any instance
**/node_modules/**

#Enviroment Variables
*.env


